<!DOCTYPE html>
<html>
  <head>
    <title> Pokemon Search </title>
  </head>
  <body>
    <h1>Search for Pokemon and Their Stats!</h1><br>
    <p>Type a pokemon name, ID, or type to get information about that Pokemon!</p>
    <form>
      <input type="text" name="input"><br>
      <input type="submit" value="Search!">
    </form>
    {% for pokemon in results %}
    <p><b>{{pokemon["name"]}}</b></p>
    <img src="{{pokemon["img"]}}">
    <p>ID: {{pokemon["id"]}}<br>
      Types:
      {% for type in pokemon["type"]%}
      {{type}},
      {% endfor %}<br>
      Weaknesses:
      {% for weakness in pokemon["weaknesses"]%}
      {{weakness}},
      {% endfor %}<br>    
      Height: {{pokemon["height"]}}<br>
      Weight: {{pokemon["weight"]}}
    </p>
    {% endfor %}
  </body>
  </html>
